* {
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

div.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.title {
	color: #fff;
	background: url(http://sacr3-files.s3-eu-west-1.amazonaws.com/_processed_/csm_Dunajsk%25C3%25A9%2520luhy%2520Banner%2520003_a1734c9047.jpg) center center no-repeat;
	font-size: 1.5rem;
	text-shadow: 1px 1px 2px #000;
}

div.fullpage {
	height: 100vh;
	width: 100%;
}

footer {
	padding: 8px;
	background: #222;
	color: #eee;
	text-align: center;
}

footer>p {
	margin: 5px 0;
	color: #eee;
}

main {
	margin: 16px auto;
	padding: 0 10%;
	max-width: 1000px;
}

.center {
	text-align: center;
}

div.cart {
	display: flex;
	align-items: center;
	align-content: center;
	margin: 32px 0;
}

div.cart>div {
	width: 100%;
}

img.icon {
	vertical-align: bottom;
}

div.cart:nth-of-type(odd) {
	flex-direction: row-reverse;
}

div.cart div.image-container {
	position: relative;
	width: 50%;
	margin: 0 auto;
}

div.cart div.image-container::before {
	content: "";
	display: block;
	padding-top: 100%;
}

div.cart div.image-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

div.cart div.image-container,
div.cart div.image-container img {
	border-radius: 16px;
}

h1.day-title {
	padding: 32px;
}

.small {
	font-size: .8rem;
}

p {
	color: #222;
}

@media screen and (max-width:1100px) {
	div.cart div.image-container {
		width: 75%;
	}
}

@media screen and (max-width:600px) {
	div.cart {
		flex-direction: column !important;
	}
}

.reveal {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: .4s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}